<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
  <link rel="stylesheet" href="../src/bootstrap.css">
  <link rel="stylesheet" href="../src/style.css">
</head>

<body>

  <div class="container summary">
    <div class="title">
      <h1>Overall Summary</h1>
      <h4>Active LE Text Message Survey</h4>
    </div>
    <div class="results-summary">
      <div class="summary-question overall">
        <h2>Summary of Responses</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="text-center"># of Responses</th>
              <th scope="col" class="text-center">% of Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Completed Surveys</th>
              <td class="text-center">
                <%- JSON.stringify(clean.complete.count) %>
              </td>
              <td class="text-center">
                <%- clean.complete.percent %> %
              </td>
            </tr>
            <tr>
              <th scope="row">Spanish Surveys</th>
              <td class="text-center">
                <%- JSON.stringify(clean.spanish.count) %>
              </td>
              <td class="text-center">
                <%- clean.spanish.percent %> %
              </td>
            </tr>
            <tr>
              <th scope="row">Total</th>
              <td class="text-center">
                <%- JSON.stringify(clean.total) %>
              </td>
              <td class="text-center">
                100%
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
    <div class="summary-question question1">
        <h2>Question #1</h2>
        <h4>
          <%- clean.question2.question %>
        </h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="text-center"># of Responses</th>
              <th scope="col" class="text-center">% of Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Question #2 Responses</th>
              <td class="text-center">
                <%- JSON.stringify(clean.question2.total) %>
              </td>
              <td class="text-center">
                <%- clean.question2.percent %> %
              </td>
            </tr>
            <tr>
              <th scope="row">Total</th>
              <td class="text-center">
                <%- JSON.stringify(clean.total) %>
              </td>
              <td class="text-center">
                100%
              </td>
            </tr>
          </tbody>
        </table>
        <div id="map"></div>
        <script>
          var center = <%- JSON.stringify(clean.question2.points.center.geometry.coordinates) %>;
          var mymap = L.map('map').setView([center[1], center[0]], 4);
          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            id: 'mapbox.streets'
          }).addTo(mymap);
          var myGeo = <%- JSON.stringify(clean.question2.points.features) %>
            L.geoJSON(myGeo).addTo(mymap);
          var group = new L.featureGroup(myGeo);</script>
      </div>
    <div class="summary-question question2">
      <h2>Question #2</h2>
      <h4>
        <%- clean.question3.question %>
      </h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center"># of Responses</th>
            <th scope="col" class="text-center">% of Total</th>
          </tr>
        </thead>
        <tbody>
          <% clean.question3.responses.forEach(function(cat, index) { %>
          <tr>
            <th scope="row">
              <%= cat.title %>
            </th>
            <td class="text-center">
              <%= cat.count %>
            </td>
            <td class="text-center">
              <%= cat.percent %>
            </td>
          </tr>
          <% }); %>
          <tr>
            <th scope="row">Total</th>
            <td class="text-center">
              <%- JSON.stringify(clean.question3.total) %>
            </td>
            <td class="text-center">
              100%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="summary-question question3">
      <h2>Question #3 </h2>
      <h4>
        <%- clean.question4.question %>
      </h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center"># of Responses</th>
            <th scope="col" class="text-center">% of Total</th>
          </tr>
        </thead>
        <tbody>
          <% clean.question4.responses.forEach(function(cat, index) { %>
          <tr>
            <th scope="row">
              <%= cat.title %>
            </th>
            <td class="text-center">
              <%= cat.count %>
            </td>
            <td class="text-center">
              <%= cat.percent %> %
            </td>
          </tr>
          <% }); %>
          <tr>
            <th scope="row">Total</th>
            <td class="text-center">
              <%- JSON.stringify(clean.question4.total) %>
            </td>
            <td class="text-center">
              100%
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <div id="map"></div>
        <script>
          var center = <%- JSON.stringify(clean.question2.points.center.geometry.coordinates) %>;
          var mymap = L.map('map').setView([center[1], center[0]], 4);
          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            id: 'mapbox.streets'
          }).addTo(mymap);
          var myGeo = <%- JSON.stringify(clean.question2.points.features) %>
            L.geoJSON(myGeo).addTo(mymap);
          var group = new L.featureGroup(myGeo);</script> -->
    </div>
    <div class="summary-question question4">
        <h2>Question #4</h2>
        <h4>
          <%- clean.question5.question %>
        </h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="text-center"># of Responses</th>
              <th scope="col" class="text-center">% of Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Question #5 Responses</th>
              <td class="text-center">
                <%- JSON.stringify(clean.question5.total) %>
              </td>
              <td class="text-center">
                <%- clean.question5.percent %> %
              </td>
            </tr>
            <tr>
              <th scope="row">Total</th>
              <td class="text-center">
                <%- JSON.stringify(clean.total) %>
              </td>
              <td class="text-center">
                100%
              </td>
            </tr>
          </tbody>
        </table>
        <div id="map5"></div>
        <script>
          var center = <%- JSON.stringify(clean.question5.points.center.geometry.coordinates) %>;
          var fifthMap = L.map('map5').setView([center[1], center[0]], 9);
          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            id: 'mapbox.streets'
          }).addTo(fifthMap);
          var geo5 = <%- JSON.stringify(clean.question5.points.features) %>
          L.geoJSON(geo5).addTo(fifthMap);</script>
      </div>
  </div>
  <!-- <div class="container results">
    <% money.surveys.forEach(function(drink, index) { %>
    <div class="result">
      <div class="title">
        <h1>Response #
          <%= index+1 %>
        </h1>
        <h4>Active LE Text Message Survey</h4>
      </div>
      <p>
        <%= drink.phone %>
      </p>
      <p>
        <%= drink.complete %>
      </p>
      <p>
        <%= drink.spanish %>
      </p>
    </div>

    <% }); %>
  </div> -->
</body>

</html>