<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
  <link rel="stylesheet" href="../dist/bootstrap.css">
  <link rel="stylesheet" href="../dist/style.css">
</head>

<body>
  <% surveys.forEach(function(survey, index) { %>
  <% if ( survey.flag != true) { %>
  <p class="flag">Completed Survey</p>
  <div class="result individual">
    <div class="title">
      <h1>Response #
        <%= index+1 %>
      </h1>
      <h4>Active LE Text Message Survey</h4>
      <pre><%= survey._id %></pre>
    </div>
    <div class="details">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Question #</th>
            <th scope="col" class="text-center">Question</th>
            <th scope="col" class="text-center">Answer</th>
          </tr>
        </thead>
        <tbody>
          <% survey.responses.forEach(function(resp, index) { %>
          <tr>
            <th scope="row" style="width: 15%">
              <%= index+1 %>
            </th>
            <td class="text-center" style="width: 50%">
              <%- questions[index].text %>
            </td>
            <td class="text-center" style="width: 35%">
              <%= Object.values(resp) %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  <% } %>
  <% }); %>

</body>

</html>